@model ZonaRTX.Models.ProductosProveedoresModel

@{
    ViewData["Title"] = "Editar Relación Producto-Proveedor";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="id_producto" />
                    <input type="hidden" asp-for="id_proveedor" />

                    

                    <div class="form-group mb-3">
                        <label asp-for="precio_compra" class="form-label">Precio de Compra</label>
                        <input asp-for="precio_compra" class="form-control" />
                        <span asp-validation-for="precio_compra" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
