@model ZonaRTX.Models.ProductosModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_producto" class="control-label"></label>
                <input asp-for="id_producto" class="form-control" />
                <span asp-validation-for="id_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_producto" class="control-label"></label>
                <input asp-for="nombre_producto" class="form-control" />
                <span asp-validation-for="nombre_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label"></label>
                <input asp-for="id_categoria" class="form-control" />
                <span asp-validation-for="id_categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_agregado" class="control-label"></label>
                <input asp-for="fecha_agregado" class="form-control" />
                <span asp-validation-for="fecha_agregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
